@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --bg-black: rgb(0, 0, 0);

  --bg-dark: rgb(18, 18, 18);
  --bg-dark-1: rgb(26, 26, 26);
  --bg-dark-2: rgb(26, 26, 26);
  --bg-dark-3: rgb(37, 37, 37);
  --bg-dark-4: rgba(255, 255, 255, 0.08);

  --bg-white: rgb(255, 255, 255);
  --color-white: rgb(255, 255, 255);

  --color-dark: rgb(18, 18, 18);

  --color-orange: rgb(245, 197, 24);

  --color-light-blue: rgb(60, 161, 192);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--bg-black);
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a, button {
  transition: transform 0.2s ease-in-out;
}

a:active, button:active {
  transform: translateY(-3px);
}

/* Default Classes */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: start;
}

.jc-end {
  justify-content: end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.active {
  background: var(--bg-dark-4);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.list-style-none {
  list-style: none;
}

.bg-black {
  background: var(--bg-black);
}

.bg-dark {
  background: var(--bg-dark);
}

.bg-dark-1 {
  background: var(--bg-dark-1);
}

.bg-dark-2 {
  background: var(--bg-dark-2);
}

.bg-dark-3 {
  background: var(--bg-dark-3);
}

.bg-dark-4 {
  background: var(--bg-dark-4);
}

.bg-white {
  background: var(--bg-white)
}

.color-white {
  color: var(--color-white);
}

.color-dark {
  color: var(--color-dark);
}

.color-orange {
  color: var(--color-orange);
}

.color-light-blue {
  color: var(--color-light-blue);
}

@media (max-width: 767px) {
  .d-flex-sm-row {
    display: flex;
    flex-direction: row;
  }

  .d-flex-sm-column {
    display: flex;
    flex-direction: column;
  }

  .md-content {
    display: none;
  }
}

@media (min-width: 768px) {
  .d-flex-md-row {
    display: flex;
    flex-direction: row;
  }

  .d-flex-md-column {
    display: flex;
    flex-direction: column;
  }
  
  .sm-content {
    display: none;
  }
}

.main-container {
  margin-top: 5rem;
}